<form (ngSubmit)="onSubmit()" #registerForm="ngForm">

  @if (!message || isError) {

  <div>
    <label for="name">Nombre</label>
    <input id="name" type="text" name="name" [(ngModel)]="name" required />
  </div>

  <div>
    <label for="email">Correo electrónico</label>
    <input id="email" type="email" name="email" [(ngModel)]="email" required />
  </div>

  <div>
    <label for="password">Contraseña</label>
    <input id="password" type="password" name="password" [(ngModel)]="password" required />
  </div>

  <button type="submit">
    Registrar
  </button>

    @if (message) {
    <p [class.error]="isError">
      {{ message }}
    </p>
    }
  }

  @if (!isError && message) {
  <p>
    {{ message }}
  </p>
  }

</form>