.product-container {
    height: 15rem;
    width: 30rem;

    padding: var(--space-3);

    display: flex;

    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(1, 10, 9, 0.08);
}

.product-image {
    height: 15rem;
    width: 15rem;

    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-2);
}
