.product-list {
    display: grid;
    gap: var(--space-2);
}

.product-card {
    display: flex;
    flex-wrap: wrap; 
    gap: var(--space-2);
}
.container-image {
    width: 15rem;
    height: 15rem;
}
.product-info {
    width: 30rem;
    height: 100%;

    background-color: aqua;
}
.product-image{
    width: 100%;
    height: 100%;
}