.product-card {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;       
}
.container-image {
    width: 90px;
    height: 90px;
}
.product-info {
    background-color: aqua;
    width: 90px;
    height: 90px;
}
.product-image{
    width: 90px;
    height: 90px;
}