.lista_producto {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;       
}
.imagen_producto{
    width: 90px;
    height: 90px;
}
.info_producto{
    background-color: aqua;
    width: 90px;
    height: 90px;
}
.imagen{
    width: 90px;
    height: 90px;
}