.product-list {
    display: grid;
    gap: var(--space-2);
    text-align: center;
    max-width: 90%;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
}

.container-image {
    width: 15rem;
    height: 15rem;
}

.product-info {
    width: 30rem;
    height: 100%;

    background-color: transparent; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 4rem;
    box-shadow: 0 1px 3px rgba(1, 10, 9, 0.08);

}

.product-image {
    width: 100%;
    height: 100%;
}